# Environnement virtuel
venv/

# MLflow
mlruns/
mlflow.db

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage

# Données (trop volumineuses pour GitHub)
data/raw/
data/processed/

models/*
!models/rf_model.pkl
!models/mlp_model.pkl
!models/feature_names.pkl
!models/cnn_model.keras

# Rapports générés
reports/
logs/

# Variables d'environnement
.env
secrets.yaml

# OS
.DS_Store
Thumbs.db

# Docker
*.log
mlartifacts/
